@model List<Covid.Models.Place>

@{
    ViewBag.Title = "TOP 10 COVID-19 CASES BY REGION";
}

<h2>Top 10 Regions By Region</h2>

<table class="table" id="report">
    <thead>
        <tr>
            <th>
                REGION
            </th>
            <th>
                CASES
            </th>
            <th>
                DEATHS
            </th>
            <th>
                PROVINCES
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.confirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deaths)
                </td>
                <td>
                    @Html.ActionLink("Report", "../Provinces/Provinces", new { isoCode = item.iso })
                </td>
            </tr>

        }
    </tbody>
</table>
